.contenedor-detalles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: max-content;
    gap: 2rem;
    margin-bottom: 2rem;
}
.contenedorPrincipal{
    width: 100%;
    padding: 12px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col{
    max-width: 400px;
}
.contenedor-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen-detalles{
   border-radius: 15px;
}
.titulo-detalles{
    color:white;
    margin:1rem;
    text-align: center;
    font-size: 1.5rem;
}
.descripcion{
    color: white;
    margin: 1rem;
}
.generos{
    color: white;
}
.contReproductorDescript{
    width: 100%;
    max-width: 770px;
}
.reproductor{
    border: 1.5px solid rgb(102, 100, 100);
    border-radius: 24px;
    height: 50vw;
    margin: 12px;
    max-width: 770px;
    overflow: hidden;
}
.contBarra{
    position:relative !important;
}

@media (min-width: 1024px) {
    .contenedor-detalles{
        flex-wrap: nowrap;
        max-width: 70%;
    }
    .reproductor{
        height:  20vw;
    }
}