.contenedor-detalles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.col{
    max-width: 400px;
}
.contenedor-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen-detalles{
   border-radius: 15px;
}
.titulo-detalles{
    color:white;
    margin:1rem;
    text-align: center;
    font-size: 1.5rem;
}
.descripcion{
    color: white;
    margin: 1rem;
}
.generos{
    color: white;
}