.contBarra{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
}
.contBuscador{
   
}
.fondoScroll{
    background-color: black;
    position: fixed;
    opacity: 0.9;
}