.contBarra{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
    transition: all 2s;
    background-color: transparent;
}
.contBuscador{
   
}
.iconoMenu{
    display: flex;
    align-items: center;
}
.menu {
    gap: 3%;
    text-wrap: nowrap;
    display: none;
}
.menu span{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
}
.fondoScroll{
    position: fixed;
    opacity: 0.9;
    background-color: black;
}

@media (min-width:1024px){
    .contBarra{
        justify-content: space-around;
    }
    .menu{
        display: flex;
    }
    .logoPrincipal{
        width: 122px;
    }
}