.contenedorPrincipal{
    display: flex;
    justify-content: center;
}
.contenedor-peliculas{
    background-color: #080f28;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(153px,1fr));
    gap: 16px;
    width: 100%;
}

.tituloContenedor{
    color:white;
    text-align: center;
    font-size: 20px;
    margin-bottom:6px;
}

.paginado{
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}


@media (min-width: 1024px) {
    .contenedor-peliculas{
       width: 70%;
       grid-template-columns: repeat(auto-fit,minmax(214px,1fr));
       gap:16px;
    }
}
