a{
    text-decoration: none;
}
.titulo-pelicula{
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.contenedor-movie{
    display: flex;
    flex-direction: column;
    position:relative;
}
.contenedor-movie a{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}
.contenedor-movie a:hover{
    transform: translateY(-30px);
    opacity: 0.5;
    transition: 0.5s;
}
.imagenCard{
    border-radius: 10px;
    object-fit: cover;
    width : 100%;
    height : 100%;
}

.puntaje{
    color:white;
    background-color:#03a9f4;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
    position: absolute;
    top: 2%;
    left: 4%;
}

/*@media(max-width: 560px){

    .imagenCard{
        width: 90%;
        height: auto;
    }
    .logoPrincipal {
        width: 146px;
        margin: 0 2.5%;
        position: static;
        z-index: 0;
    }
}*/

@media (min-width:1024px){
    .imagenCard{
        width : 100%;
        height : 100%;
    }
}