@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&family=Quicksand:wght@300;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  background-color: #111;
}
.titulo{
  text-align: left;
  margin: 0 18px;
  color: #0082ff;
  font-weight: bold;
  font-size: 3rem;
}
.logoPrincipal{
  width: 200px;
  margin: 0 40px;
}